/* Archivo CSS */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #ffa500;
}

.container {
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #1e1e1e;
}

.btn {
    background-color: #ffa500;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff8c00;
}

select, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ffa500;
    background-color: #1e1e1e;
    color: #ffffff;
}

#output {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}